##############################################################################################
# .env.example
# Put sensitive data here, non-sensitive data is suggested to be put in .yaml file
# Usage: copy and rename it as .env.{environment_name}
#        where environement_name is the suffix of config_name
#        e.g. projectA has two environments: qa and stg, each environment has api and web tests
#             then config_name of qa web test is projectA_qa_web, and projectA_qa_api for api test
#             api and web test of qa environment may share common environment info such as db credentials,
#             so they use the same .env file, thus the .env file is name as projectA_qa
# The .env file is git-ignored and should never be committed.
# why put all .env files under config folder, instead of under each project folders?
# For convenience of checking whether .env file has been accidently pushed
################################################################################################

TEST_EMAIL=
TEST_PASSWORD=
